/* Here we can set styles for this lab page that we don't want to effect others pages /

/ the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp5723458.png");
  background-size: cover; /* The 'background-size' property is set to 'cover', ensuring that the image covers the entire background area of the body element. */
  resize: both; /* The 'resize' property is set to 'both', allowing the body element to be resized in both horizontal and vertical directions. */
  overflow: scroll; /* The 'overflow' property is set to 'scroll', adding a scrollbar to the body element for scrolling when content exceeds the visible area. */
}

#heading {
  color: black;
}

#heading a {
  color: black;
}

#content h1 {
  color: black;
}

.minor-section {
    padding-left: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  