/* this css file will only style the homepage of our site */

body {
  background-color: #0b0c10;
  background: url('file:///C:/Users/rando/Documents/GitHub/art101/img/groovy.gif') no-repeat center center fixed;
  background-size: cover;
}

.home-photo {
  display: block;
  border: solid 1px white;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;

  animation: zoom-in-out 2s ease-in-out infinite;
  transform-origin: center;
}

/* Homepage Title font settings */
#home-page title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 200%;
}

/* About Me */
.minor-section h2 {
/* background-color: rgba(233, 225, 225, 0.238); */
/* border: solid 0px black; */
color: white;
animation: fade-in-out 2s ease-in-out infinite;
text-align: center;
}

p {
  color: white;
  animation: fade-in-out 2s ease-in-out infinite;
}

#links {
  border: solid 0px black; 
  padding-bottom: 7px;
  background-color: transparent;
}

#links a{
  color: white;
  opacity: 0%;
  animation: fade-in-out 2s ease-in-out infinite;
  animation-play-state: paused;
}

#heading {
  border: solid 0px black; 
  color: rgb(229, 229, 229);
  background-color: transparent;
}

#heading a{
  border: solid 0px black; 
  color: rgb(229, 229, 229);
  background-color: transparent;
}

.minor-section {
  border: solid 0px black; 
  /* border: solid 4px black; */
  background-color: transparent;
  /* background: url('file:///C:/Users/rando/Documents/GitHub/art101/img/groovy.gif') no-repeat center center fixed;
  background-size: cover; */
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

p:hover{
  animation-play-state: paused;
}

.minor-section h2:hover {
  animation-play-state: paused;
  }

#links a:hover{
  animation-play-state: running;
}