/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
/* background body color */
body {
  background-color: #50808E;
}

/* Sets hyperlinks to row format */
#main-nav {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  padding: 0;
}

/* Hyperlink font settings */
#main-nav li{
  font-family: Roboto,sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  list-style: none;
  margin: 0em 0 0 1.6em;
  padding: 0;
  text-transform: none;
}

/* Removes underlines and replaces color from hyperlink text */
a {
  text-decoration: none; 
  color: #222;
}

#heading a:hover {
  -webkit-animation: rainbowdropshadow 2s infinite;
  animation: rainbowdropshadow 2s infinite;
}

/* Header settings */
#heading {
  padding-left: 10px;
  padding-bottom: 1px;
  border: solid 1px #888;
  background-color: #ebebeb;
}

/* Homepage Title font settings */
#home-page title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #84B59F;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* About Me */
.minor-section h2 {
  background-color: rgba(233, 225, 225, 0.238);
  border: solid 0.2px black;
  text-align: center;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 20px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}

#links {
  padding-top: 5px;
  text-align: center;
  font-style: italic;
}

@-webkit-keyframes rainbowdropshadow {
  0% {
    text-shadow: 1px 1px 0 #fc1616, 1px 1px 0 #ff8b18, 1px 1px 0 #fcfc2c;
  }
  8% {
    text-shadow: 1px 1px 0 #fe9833, 1px 1px 0 #f9f934, 1px 1px 0 #98f43d;
  }
  16% {
    text-shadow: 1px 1px 0 #f5f53f, 1px 1px 0 #95f633, 1px 1px 0 #42f642;
  }
  25% {
    text-shadow: 1px 1px 0 #a4fa4d, 1px 1px 0 #43f943, 1px 1px 0 #48f9a0;
  }
  33% {
    text-shadow: 1px 1px 0 #49fe49, 1px 1px 0 #47fba1, 1px 1px 0 #49f9f9;
  }
  41% {
    text-shadow: 1px 1px 0 #51f8a5, 1px 1px 0 #4df3f3, 1px 1px 0 #429cf7;
  }
  50% {
    text-shadow: 1px 1px 0 #46f7f7, 1px 1px 0 #4aa3fc, 1px 1px 0 #4848f7;
  }
  58% {
    text-shadow: 1px 1px 0 #71b4f8, 1px 1px 0 #5f5ffc, 1px 1px 0 #9f43fb;
  }
  66% {
    text-shadow: 1px 1px 0 #4545fa, 1px 1px 0 #9e42fa, 1px 1px 0 #fb4cfb;
  }
  75% {
    text-shadow: 1px 1px 0 #a858f9, 1px 1px 0 #fa5dfa, 1px 1px 0 #f660ab;
  }
  83% {
    text-shadow: 1px 1px 0 #fd66fd, 1px 1px 0 #f855a6, 1px 1px 0 #ff5f5f;
  }
  91% {
    text-shadow: 1px 1px 0 #ff63b1, 1px 1px 0 #ff5353, 1px 1px 0 #f79737;
  }
  100% {
    text-shadow: 1px 1px 0 #fb4747, 1px 1px 0 #fc9f43, 1px 1px 0 #f7f73e;
  }
}