/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */

/* background body color */
body {
  background-color: #659DBD;
}

/* Set the color of text inside the <h1> element to white */
#content h1 {
  color: white;
}

/* Set the color of links within the element with the ID "links" to white */
#links a {
  color: white;
}

/* Set the positioning of the element with the ID "results" */
#results {
  position: relative; /* The element is positioned relative to its normal position */
  top: -20px; /* Move the element 10 pixels up from its normal position */
  bottom: -50px; /* Move the element 20 pixels down from its normal position */
  left: 0px; /* Keep the element's horizontal position unchanged */
}

/* Styles for the h3 element inside the #results element */
#results h3 {
  font-size: 20px;
}

/* Set the positioning of the element with the ID "output" */
#output {
  position: relative; /* The element is positioned relative to its normal position */
  top: -10px; /* Move the element 10 pixels up from its normal position */
  left: 0px; /* Keep the element's horizontal position unchanged */
}

/* Header settings */
#heading {
  padding-left: 10px;
  padding-bottom: 1px;
  /* border: solid 1px #888;
  background-color: #ebebeb; */
  border: solid 0px #888;
  background-color: transparent;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

/* Sets hyperlinks to row format */
#main-nav {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  padding: 0;
}

/* Hyperlink font settings */
#main-nav li{
  font-family: Roboto,sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  list-style: none;
  margin: 0em 0 0 1.6em;
  padding: 0;
  text-transform: none;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.2s;
}

/* Hover styles for the list items inside #main-nav */
#main-nav li:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out 0.2s;
}

/* When hovering over the menu in the heading, play rainbow animation. */
#heading a:hover {
  -webkit-animation: rainbowdropshadow 2s infinite;
  animation: rainbowdropshadow 2s infinite;

  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.1s;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  /* border: solid 1px #888; */
  /* background-color: #84B59F; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 20px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}

/* Styles for the #links element */
#links {
position: relative;
top: -10px;
left: 0px;
margin: auto;
text-align: center;
font-style: italic;
}

/* Animates rainbow-text shadow */
@-webkit-keyframes rainbowdropshadow {
  0% {
    text-shadow: 1px 1px 0 #fc1616, 1px 1px 0 #ff8b18, 1px 1px 0 #fcfc2c;
  }
  8% {
    text-shadow: 1px 1px 0 #fe9833, 1px 1px 0 #f9f934, 1px 1px 0 #98f43d;
  }
  16% {
    text-shadow: 1px 1px 0 #f5f53f, 1px 1px 0 #95f633, 1px 1px 0 #42f642;
  }
  25% {
    text-shadow: 1px 1px 0 #a4fa4d, 1px 1px 0 #43f943, 1px 1px 0 #48f9a0;
  }
  33% {
    text-shadow: 1px 1px 0 #49fe49, 1px 1px 0 #47fba1, 1px 1px 0 #49f9f9;
  }
  41% {
    text-shadow: 1px 1px 0 #51f8a5, 1px 1px 0 #4df3f3, 1px 1px 0 #429cf7;
  }
  50% {
    text-shadow: 1px 1px 0 #46f7f7, 1px 1px 0 #4aa3fc, 1px 1px 0 #4848f7;
  }
  58% {
    text-shadow: 1px 1px 0 #71b4f8, 1px 1px 0 #5f5ffc, 1px 1px 0 #9f43fb;
  }
  66% {
    text-shadow: 1px 1px 0 #4545fa, 1px 1px 0 #9e42fa, 1px 1px 0 #fb4cfb;
  }
  75% {
    text-shadow: 1px 1px 0 #a858f9, 1px 1px 0 #fa5dfa, 1px 1px 0 #f660ab;
  }
  83% {
    text-shadow: 1px 1px 0 #fd66fd, 1px 1px 0 #f855a6, 1px 1px 0 #ff5f5f;
  }
  91% {
    text-shadow: 1px 1px 0 #ff63b1, 1px 1px 0 #ff5353, 1px 1px 0 #f79737;
  }
  100% {
    text-shadow: 1px 1px 0 #fb4747, 1px 1px 0 #fc9f43, 1px 1px 0 #f7f73e;
  }
}
/* Animates a bit of bouncing animation */
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* General Site Settings - Ranging from text options to other personalized changes.*/

/* Anytime the id for bold is used, it makes the text bold */
#bold{
  font-weight: bold;
  }
/* Anytime the id for italics is used, it makes the text italic */
#italics{
    font-style: italic;
    }
/* Anytime the id for underline is used, it makes the text underlined */
#underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
/* Anytime the id for dramatic is used, it makes the text have a line on top or bottom of the section */
#dramatic {
  text-decoration: underline overline black;
}

/* Anytime the id for paragraph is used, it makes the text have a identation, similar to a paragraph in a essay. */
#paragraph {
  text-indent: 30%;
}
/* Anytime the id for citation is used, it makes the text have a indentation after the second line, similar to a citation in a citations page in a essay. */
#citation {
  text-indent: -3em;
}
/* Anytime the id for verticle is used, it makes the text appear vertically */
#verticle {
  writing-mode: vertical-rl;
}
/* Anytime the id for bullet is used, it makes the text have a bullet on the left */
#bullet {
  display: list-item;
  margin-left: 20px;
}
/* Anytime the id for circle is used, it makes the text have a circle on the left */
#circle {
  display: list-item;
  margin-left: 20px;
  list-style-type: circle;
  list-style-position: inside;
}
/* Anytime the id for square is used, it makes the text have a square on the left */
#square {
  display: list-item;
  margin-left: 20px;
  list-style-type: square;
  list-style-position: inside;
}
/* Anytime the id for arrow is used, it makes the text have a arrow on the left */
#arrow {
  display: list-item;
  margin-left: 20px;
  list-style-type: "\1F806";
  list-style-position: inside;
}
/* Anytime the id for arrow_head is used, it makes the text have a arrowhead on the left */
#arrow_head {
  display: list-item;
  margin-left: 20px;
  list-style-type: "\2B9A";
  list-style-position: inside;
}
/* Anytime the id for thumbs_up is used, it makes the text have a thumbs_up on the left */
#thumbs_up {
  display: list-item;
  margin-left: 20px;
  list-style-type: "\1F44D";
  list-style-position: inside;
}
/* Removes underlines and replaces color from hyperlink text */
a {
  text-decoration: none; 
  color: #222;
}

/* Styles for the table */
table {
border-collapse: collapse;
width: 100%;
background-color: #f2f2f2;
}

/* Styles for table header cells and table data cells */
th, td {
border: 1px solid #000;
padding: 8px;
}

/* Styles for the table header row */
thead {
background-color: #dedddd;
}