/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/* body {
  background: url("https://wallpapercave.com/wp/wp3615332.jpg");
  background-size: cover;
}

#heading {
  color: white;
}

#heading a {
  color: white;
} */

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1035212664432783491/DC5861C0A6CCFA9F5454221E36D55290939CF36D/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  background-size: cover; /* The 'background-size' property is set to 'cover', ensuring that the image covers the entire background area of the body element. */
  resize: both; /* The 'resize' property is set to 'both', allowing the body element to be resized in both horizontal and vertical directions. */
  overflow: scroll; /* The 'overflow' property is set to 'scroll', adding a scrollbar to the body element for scrolling when content exceeds the visible area. */
}

#heading {
  color: white;
}

#heading a {
  color: white;
}

.minor-section {
    padding-left: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  