@font-face {
    font-family: 'PokemonGB';
    src: url('fonts/PokemonGB.ttf') format('truetype');
  }

  .pokemon-card {
    padding: 10px;
    margin: 10px;
    width: 560px;
    height: 280px;
    position: relative; /* Set position to relative */
    display: inline-block;
  }

  .pokemon-background {
    /* Existing CSS properties */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    clip-path: inset(0 0 0 0); /* Crop the bottom 0% of the image */
  }

  .pokemonInfo {
    font-size: 14px; /* Adjust the font size as needed */
    text-align: left;
    left: 274px;
    top: 44px;
    color: white; /* Set the text color to white */
    word-spacing: 20px;
    font-family: 'PokemonGB';
    position: relative; /* Set position to relative to establish a new stacking context */
    z-index: 1; /* Set a higher stacking order to display on top of the background image */
  }

  .pokemonTypes {
    font-size: 10.5px; /* Adjust the font size as needed */
    text-align: left;
    color: black; /* Set the text color to black */
    white-space: nowrap; /* Prevent line breaks between words */
    font-family: 'PokemonGB';
    position: relative; /* Set position to relative to establish a new stacking context */
    z-index: 1; /* Set a higher stacking order to display on top of the background image */
  }

  .pokemonType.type-1 {
    position: relative;
    left: 333px;
    top: 110px;
    z-index: 1; /* Set a higher stacking order to display on top of the background image */
  }
  
  .pokemonType.type-2 {
    position: relative;
    left: 444px;
    top: 88px;
    z-index: 1; /* Set a higher stacking order to display on top of the background image */
  }

  .pokemonAttributes {
    position: absolute;
    left: 400px;
    top: 192px;
    font-family: 'PokemonGB';
  }

  .pokemonAttributes p {
    padding-bottom: 3px;
    text-align: left;
    color: black; /* Set the text color to black */
    position: relative; /* Set position to relative to establish a new stacking context */
    z-index: 1; /* Set a higher stacking order to display on top of the background image */
  }

  .pokemon-image {
    width: 32%;
    height: 64%;
    float: left;
    position: absolute; /* Set position to relative to establish a new stacking context */
    z-index: 1; /* Set a higher stacking order to display on top of the background image */
  }

  /* .type-spacing {
    display: inline-block;
  } */

  .long-name {
    white-space: normal;
  }

  .pokemon-card::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .pokemon-attributes {
    margin-left: 180px;
  }

  .pokemon-attributes ul {
    list-style: none;
    padding: 0;
  }

  .pokemon-attributes li {
    margin-bottom: 5px;
  }