/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

#heading {
  padding-left: 10px;
  padding-bottom: 1px;
  border: solid 1px #888;
  background-color: #ebebeb;
}

#content {
background-color:azure;
margin: 50px;
color: #351648;
border: solid 10px #351648;
font-size: 30px;
}

/* Heading */
#content h1 {
color: black;
text-align: center;
}

/* Paragraph */
p {
padding-left: 10px;
color: #250174;
}

/* Anchor */
#content a {
  color: black;
}

/*canvas {
  border: 1px solid black;
}*/

/* .shaky-text span {
  display: inline-block;
  animation: shake 0.2s infinite;
}

/* CSS styling for the shaking text */
/* .shaking-text {
  display: inline-block;
  text-align: center;
  animation: randomShake 0.8s infinite; /* Apply the "shake" animation for 0.8 seconds infinitely }*/

/*@keyframes randomShake {
  /* Define the keyframes for the "shake" animation */
  /*0% { transform: translate(0, 0); } /* Initial position */
  /*10% { transform: translate(-2px, 2px) rotate(1deg); } /* Randomized movement */
  /*20% { transform: translate(2px, -2px) rotate(-1deg); } /* Randomized movement */
  /* ... Continue defining keyframes for the desired shaking effect */
  /*100% { transform: translate(0, 0); } /*Return to the initial position }*/
